{% load wagtailcore_tags wagtailimages_tags %}
<!-- Place this data between the <head> tags of your website -->
<meta name="description" content="{{seo.schema_description}}" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{seo.schema_title}}">
<meta itemprop="description" content="{{seo.schema_description}}">
{% if seo.schema_image %}
    {% image seo.schema_image original as image %}
<meta itemprop="image" content="{{site}}{{image.url}}">
{% endif %}
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{seo.twitter_title}}">
<meta name="twitter:description" content="{{seo.twitter_description}}">
<!-- Twitter summary card with large image must be at least 280x150px -->
{% if seo.twitter_image %}
    {% image seo.twitter_image original as image %}
<meta name="twitter:image:src" content="{{site}}{{image.url}}">
{% endif %}
<!-- Open Graph data -->
<meta property="og:title" content="{{seo.open_graph_title}}" />
<meta property="og:type" content="website" />

<meta property="og:url" content="{{site}}{% if page %}{% pageurl page %}{% endif %}" />

{% if seo.open_graph_image %}
    {% image seo.open_graph_image original as image %}
<meta property="og:image" content="{{site}}{{image.url}}" />
{% endif %}
<meta property="og:description" content="{{seo.open_graph_description}}" />
<meta property="og:site_name" content="{{seo.open_graph_title}}" />