{% load static %}

<ul>
    {% for object in social_media %}
        {% if object.social_media_url %}
            <a class="{{ object.social_media_class }}" href="{{ object.social_media_url }}" target="_blank"><i
                    class="{{ object.social_media_icon_class }}"></i></a>

            {% comment %}
            {% load wagtailcore_tags wagtailimages_tags %}
            {% image object.social_media_icon original as image %}
            <img src="{{ image.url }}">
            {% endcomment %}
        {% endif %}
    {% endfor %}

</ul>

